<div class="chat">
    <div class="chat__left-panel">
        {{> chatItems}}
    </div>
    <div class="chat__right-panel">
        <div class="chat__messages">
            {{> messages}}
        </div>
        <div class="chat__composer">
            {{> composer}}
        </div>
    </div>
</div>
