<div class="navigation">
    <div class="navigation__chat">чат</div>
    <div class="navigation__auth">авторизация</div>
    <div class="navigation__reg">регистрация</div>
    <div class="navigation__profile">профайл</div>
    <div class="navigation__5nn">5nn</div>
    <div class="navigation__404">404</div>
</div>