<div class="message message__{{my}}">
    <div class="message__title">
        <p>{{text}}</p>
    </div>
    <div class="message__meta">
        <div class="message__time"></div>
        <div class="message__status"></div>
    </div>
</div>

