{{#each data}}
    <div class="message message__{{this.my}}">
        <div class="message__title">
            <p>{{this.text}}</p>
        </div>
        <div class="message__meta">
            <div class="message__time"></div>
            <div class="message__status"></div>
        </div>
    </div>
{{/each}}
